params.bam_dir = null
params.input_suffix = null
params.region_name = null
params.region = null
params.samtools_flag = '-F 0x900'
params.metadata_table = null
params.output_dir = null
params.intermediate_outputs_dir = './intermediate_outputs'
params.opsin_reference = "${projectDir}/resources/OPSIN-genes-with-exons.fasta"
params.final_output_name = null

params.hifiasm_opts_XY = '-l0'


params.OPN1LW_reference = "${projectDir}/resources/OPN1LW-sequence.fasta"
params.OPN1MW_reference = "${projectDir}/resources/OPN1MW-sequence.fasta"

// vep parameters
params.vep_caches_path="/n/dat/vep"
params.vep_data_path="/n/dat/annotationData"

params.cache_directory="${params.vep_caches_path}/.vep115"
params.plugin_dir="${params.vep_caches_path}/.vep115/Plugins"
params.ALPHAMISSENSE="${params.vep_data_path}/AlphaMissense_hg38.tsv.gz"
params.CADD="${params.vep_data_path}/CADDv1.6_hg38_whole_genome_SNVs.tsv.gz"
params.SPLICEAISNV="${params.vep_data_path}/spliceai_scores.raw.snv.hg38.vcf.gz"
params.SPLICEAIINDEL="${params.vep_data_path}/spliceai_scores.raw.indel.hg38.vcf.gz"
params.GNOMAD="${params.vep_data_path}/gnomad.genomes.v4.0.sites.hg38.vcf.gz"
params.CLINVAR="${params.vep_data_path}/clinvar.hg38.20240909.vcf.gz"
params.ENFORMER="${params.vep_data_path}/enformer_grch38.vcf.gz"
params.OPENTARGETS="${params.vep_data_path}/OTGenetics.tsv.gz"
params.SPLICEVAULT="${params.vep_data_path}/SpliceVault_data_GRCh38.tsv.gz"
params.DOSAGE="${params.vep_data_path}/Collins_rCNV_2022.dosage_sensitivity_scores.tsv.gz"
params.skip_vep = false
params.skip_vep_on_empty_vcf = true


conda { enabled = true }

process {
    withLabel: 'extract_reads' {
        conda = '/usr/share/millerlab/samtools-1.22'
        cpus = 10
    }

    withLabel: 'run_hifiasm_XY' {
        conda = '/usr/share/millerlab/hifiasm-0.25.0'
        cpus = 10
    }

    withLabel: 'run_hifiasm_XX' {
        conda = '/usr/share/millerlab/hifiasm-0.25.0'
        cpus = 10
    }

    withLabel: 'align_to_assembly' {
        conda = '/usr/share/millerlab/minimap-2.28'
        cpus = 10
    }

    withLabel: 'run_exonerate' {
        conda = '/home/zanderson/.conda/envs/exonerate-env'
    }

    withLabel: 'convert_gff_to_bed' {
        conda = '/home/zanderson/.conda/envs/exonerate-env'
    }

    withLabel: 'analyze_haplotype' {
        conda = '/home/zanderson/.conda/envs/exonerate-env'
    }
    withLabel: 'concatenate_results' {
        conda = '/home/zanderson/.conda/envs/exonerate-env'
    }
    withLabel: 'run_vep' {
        conda = '/usr/share/millerlab/vep-115.2'
        cpus = 10
    }
    withLabel: 'run_dipcall' {
        conda = '/usr/share/millerlab/dipcall-0.3'
    }

}